*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

nav{
    /* width: 100%; */
    /* vertically center of nav bar */
    align-items: center;
    /* different than space around */
    justify-content: space-evenly;
    display: flex;
    background-color:silver;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 11px ), repeating-linear-gradient( #bfc1ef55, #bfc1ef );
}

.nav-links{
    display: flex;
}

.nav-links li {
    float: left;
    list-style: none;
    padding: 1.5rem;
}

.nav-links a{
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color: black;

}

.nav-links a:hover{
    text-decoration: underline pink;
    text-underline-offset: 0.7rem;
    
}

.logo{
    text-align: center;
}

.logo h1{
    padding: 2rem 0 2rem 1rem;
    font-size: 50px;
    color: pink;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#condensed-nav{
    display: none;
}

.condensed-menu{
    position: relative;
    display: inline-block;
}

.open-btn{
    display: flex;
    cursor: pointer;
    font-size: 30px;
}

.menu-links1, .menu-links2 {
    position: absolute;
    background-color: rgb(231, 190, 196);
    /* width: fit-content; */
    /* Max height is zero and there will be overflow abvi so must hide it */
    max-height: 0;
    overflow: hidden;
    transition: ease-in-out; 
}

.menu-links1 li, .menu-links2 li{
    list-style: none;
    padding: 5px;
}

.menu-links1 a, .menu-links2 a{
    font-size: 20px;
    text-decoration: none;
}

.menu-links1.open, .menu-links2.open{
    max-height: 300px;
}

/* slideshow */
.slider{
    /* relative to its parent */
    position: relative;
    /* width of entire div */
    width: 50%;
    margin: auto;
    overflow: hidden;
}

.slider img{
    width: 100%;
    /* by default */
    display: none;
}

.slides img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: hsla(0, 0%, 0%, 0.449);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
}

.prev{
    left: 0;
}

.next{
    right: 0;
}

@keyframes fade{
    from {opacity: .5}
    to {opacity: 1}
}
